<div class="container">
    <div class="row">
        <h1 class="mb-5 mt-3 display-1 text-center">Hakkımızda</h1>
        <div class="row align-items-center">
            <div class="col-md-5 text-end">
                <h5 class="display-6">Şirketimiz Hakkında:</h5>
                <p class="lead">
                    1990 yılında kurulan firmamız, yıllardır sektörde lider konumunu koruyan bir e-ticaret platformu
                    olarak hizmet vermektedir. Müşterilerimize en kaliteli ürünleri, en uygun fiyatlarla sunmayı
                    amaçlıyoruz. Teknolojiye olan tutkumuz ve müşteri memnuniyetine verdiğimiz önem sayesinde, her geçen
                    gün daha da büyüyerek, yenilikçi çözümler sunmaya devam ediyoruz.
                </p>
                <h5 class="display-6">Şirketimiz Hakkında:</h5>
                <p class="lead">
                    1990 yılında kurulan firmamız, yıllardır sektörde lider konumunu koruyan bir e-ticaret platformu
                    olarak hizmet vermektedir. Müşterilerimize en kaliteli ürünleri, en uygun fiyatlarla sunmayı
                    amaçlıyoruz. Teknolojiye olan tutkumuz ve müşteri memnuniyetine verdiğimiz önem sayesinde, her geçen
                    gün daha da büyüyerek, yenilikçi çözümler sunmaya devam ediyoruz.
                </p>
                <br>
            </div>
            <div class="col-md-2 text-center">
                <div class="vr"></div>
            </div>
            <div class="col-md-5 text-start">
                <h5 class="display-6">İçeriklerimiz:</h5>
                <p class="lead">
                    1990 yılında kurulan firmamız, yıllardır sektörde lider konumunu koruyan bir e-ticaret platformu
                    olarak hizmet vermektedir. Müşterilerimize en kaliteli ürünleri, en uygun fiyatlarla sunmayı
                    amaçlıyoruz. Teknolojiye olan tutkumuz ve müşteri memnuniyetine verdiğimiz önem sayesinde, her geçen
                    gün daha da büyüyerek, yenilikçi çözümler sunmaya devam ediyoruz.
                </p>
                <br>
                <h5 class="display-6 text-start">Şirketimiz Hakkında:</h5>
                <p class="lead">
                    1990 yılında kurulan firmamız, yıllardır sektörde lider konumunu koruyan bir e-ticaret platformu
                    olarak hizmet vermektedir. Müşterilerimize en kaliteli ürünleri, en uygun fiyatlarla sunmayı
                    amaçlıyoruz. Teknolojiye olan tutkumuz ve müşteri memnuniyetine verdiğimiz önem sayesinde, her geçen
                    gün daha da büyüyerek, yenilikçi çözümler sunmaya devam ediyoruz.
                </p>
            </div>
        </div>
    </div>
</div>