<div class="container">
    <div class="row">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">E-Mail</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">İçerik</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.89740870104!2d30.701761375307466!3d36.89280246247495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c38ffd76d81ddd%3A0x69d5ac1f1b619739!2sMarkAntalya%20AVM!5e0!3m2!1str!2str!4v1723729834556!5m2!1str!2str"
                    d-flex height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="card-body">
                    <h5 class="card-title">Konumumuz</h5>
                    <p class="card-text">Bizlere ulaşmak isterseniz işte tam buradayız.</p>
                </div>
            </div>

        </div>
    </div>
</div>